/* 
npm init
sass --watch scss/style.scss css/style.css 
*/

@import "form_elements.scss";


* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  body {
    margin: 25px;
    max-height: 70%;
    font-family: 'Inter';
    background-color: #F1F1FA;
    // background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%);
    form {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 18px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.02em;
        > *{
          margin: 10px 0;
        }
      }
      button {
        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
        width: 100%;
        height: 44px;
        left: 16px;
        top: 16px;
        /* Primary */
        background: #4535CC;
        /* Primary */
        border: 2px solid #4535CC;
        border-radius: 10px;
        color: #FFFFFF;
        &:disabled{
          box-sizing: border-box;
          /* Auto layout */
          /* Primary Dark */
          background: #372AA3;
          opacity: 0.4;
          /* Primary Dark */
          border: 2px solid #372AA3;
          border-radius: 10px;
        }
      }
    }
    #resultados{
      margin-top: 10px;
      #mensajederesultado3{
        color: green;
      }  
      #mensajederesultado4{
        color: red;
      }  
    }
  }
}