/* 
npm init
sass --watch scss/style.scss css/style.css 
*/

@import "form_elements.scss";
@import "variables.scss";
@import "modal.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  body {
    max-height: 70%;
    color: $color-font;
    font-family: $font-family;
    font-style: normal;
    background-color: $color-primary-0;
    background-image: linear-gradient(160deg, $color-dark-primary-0 0%, #f04e98 100%);
    nav {
      height: 75px;
      img {
        width: 210px;
        height: 50px;
        @media (min-width: 1025px) {
          margin-left: 200px;
        }
      }
      #myBtn {
        border: 1px solid $color-primary-1;
        border-radius: 18px;
        color: white;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        background: none;
        padding: 10px;
        float: right;
        margin-top: 25px;
        margin-right: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: $transition-speed; 
        &:hover{
          background-color: $color-primary-1;
          color: white;
          
        }
        @media (max-width: 1025px) {
          margin-top: $uxg-spacing-2;
          margin-right: $uxg-spacing-2;
          max-width: 90px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-word;
          height: 60px;
        }
      }
    }
    h1 {
      margin-left: 5%;
      margin-right: 5%;
      margin-top: $uxg-spacing-3;
      margin-bottom: $uxg-spacing-3;
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      @media (min-width: 1025px) {
        /* big landscape tablets, laptops, and desktops */
        max-width: 1000px;
        margin-left: 25%;
        margin-right: 25%;
      }
    }
    .description{
      margin-left: 5%;
      margin-right: 5%;
      margin-top: $uxg-spacing-3;
      margin-bottom: $uxg-spacing-3;
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      @media (min-width: 1025px) {
        /* big landscape tablets, laptops, and desktops */
        max-width: 1000px;
        margin-left: 25%;
        margin-right: 25%;
      }
    }
    h2 {
      margin-top: $uxg-spacing-2 ;
      margin-bottom: $uxg-spacing-2;
      font-weight: 900;
      font-size: 18px;
      //line-height: 24px;
      text-align: center;
    }
    .cuotas__app__option1__title{
      color: $color-font; 
    }
    .cuotas__app__option2__title{ 
      color: $color-font; 
    }
    .modal-content {
      max-width: 600px;
      .modal-content__title {
        font-size: larger;
        margin-bottom: $uxg-spacing-4;
      }
      .modal-content__start__button {
        margin-top: $uxg-spacing-4;
        background-color: $color-primary-0;
        color: white;
        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
        width: 100%;
        height: 44px;
        left: 16px;
        top: 16px;
        /* Primary */
        border: none;
        border-radius:  100px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: $color-primary-1; 
          color: white;
        }
      }
      p{
        margin-top: $uxg-spacing-2;
        margin-left: $uxg-spacing-2;
        margin-right: $uxg-spacing-2;
      }
    }

    .cuotas__app {
      margin-left: 5%;
      margin-right: 5%;
      background-color: #f1f1fa;
      padding: 5%;
      border-radius: 7px;
      box-shadow: $box-shadow;
      @media (min-width: 1025px) {
        /* big landscape tablets, laptops, and desktops */
        max-width: 1000px;
        margin-top: 50px;
        margin-left: 25%;
        margin-right: 25%;
        padding: 5%;
        background-color: #f1f1fa;
        border-radius: 7px;
        box-shadow: $box-shadow;
      }


      // background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%);
      form {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 800;

        #chip__cuotas1 {
          display: flex;
          flex-wrap: wrap;
          input {
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 16px;
            background: $color-button-unselected;
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            box-shadow: none;
            max-height: 37px;
            width: 90px;
            font-size: small;
            padding: 10px;
            transition-duration: 0.3s;
            &:hover {
              background: $color-button-chip-op1;
              border: 1px solid $color-button-chip-op1-border;
            }
          }

          .selected {
            background: $color-button-chip-op1-selected;
            border: 1px solid $color-button-chip-op1-border;
          }

          button {
            margin-top: 10px;
            border: none;
            box-shadow: none;
            border-radius: 100px;
            max-height: 30px;
            width: 100px;
            font-size: small;
            padding: 10px;
            background-color: $color-chips;
            color: black;
            transition-duration: 0.3s;
          }
        }
        #chip__cuotas2 {
          display: flex;
          flex-wrap: wrap;
          input {
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 16px;
            background: $color-button-unselected;
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            box-shadow: none;
            max-height: 37px;
            width: 90px;
            font-size: small;
            padding: 10px;
            transition-duration: 0.3s;
            &:hover {
              border: 1px solid $color-button-chip-op2-border;
              border-radius: 16px;
            }
          }
          .selected2{
            background-color: rgba(237, 139, 0, 0.16);
            border: 1px solid rgba(237, 139, 0, 1);
          }
        }

        #cantidaddecuotas {
          display: none;
          transition-duration: 0.3s;
          &:focus-visible{
            outline-color: $color-secondary-1;
          }
        }
        #cantidaddecuotas2 {
          display: none;
          transition-duration: 0.3s;
          outline-color: $color-secondary-2;
        }
        .label {
          background: $color-fields-background;
          font-weight: 700;
          border: 1px;
          border-radius: 4px 4px 0px 0px;
          display: flex;
          flex-direction: column;
          margin-top: $uxg-spacing-2;
          margin-bottom: $uxg-spacing-2;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -0.02em;
          > * {
            margin: 10px 0;
          }
        }
        #valordelacuota{
          //background-color: $color-button-chip-op1-selected ;
          &:focus-visible{
            outline-color: $color-secondary-1;
          }
        }

        #valordelacuota2{
          // background-color: $color-button-chip-op2-selected ;
          &:focus-visible{
            outline-color: $color-secondary-2;
          }
        }

        .advaced_options__withoptions {
          .advaced_options {
            text-align: left;
            font-size: 12px;
            display: flex;
            margin-bottom: $uxg-spacing-3;
            cursor: pointer;
            p {
              vertical-align: baseline;
              margin-left: 5px;
              margin-top: auto;
              margin-bottom: auto;
              color: $color-font;              
            }
          }
        }

        #advanced__options {
          display: none;
          flex-direction: row;
          justify-items: baseline;
          margin-bottom: 5px;
          #detalle {
            font-size: small;
            margin-left: 5px;
          }
        }


        #submitbutton {
          box-sizing: border-box;
          /* Auto layout */
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 12px 24px;
          gap: 10px;
          width: 100%;
          height: 44px;
          left: 16px;
          top: 16px;
          /* Primary */
          background: $color-primary-0;
          /* Primary */
          border: none;
          border-radius: 24px;
          color: white;
          cursor: pointer;
          transition: $transition-speed;
          &:hover {
            background-color: $color-primary-1;
            color: white;
          }
          &:disabled {
            box-sizing: border-box;
            /* Auto layout */
            /* Primary Dark */
            background: #372aa3;
            opacity: 0.4;
            /* Primary Dark */
            border: 2px solid $color-background-1;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

#resultados2 {
  display: none;
  flex-direction: column;
}

#resultados {
  margin-top: $uxg-spacing-2;
  display: flex;
  flex-direction: column;
  #mensajederesultado3 {
    //order: 1;
    order: -1;
  }
}

#resultados > * {
  font-weight: bold;
  margin-top: $uxg-spacing-2;
  margin-bottom: $uxg-spacing-2;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f1f1fa;
  padding: 5%;
  border-radius: 7px;
  box-shadow: $box-shadow;
  @media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    max-width: 1000px;
    margin-top: $uxg-spacing-4;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #f1f1fa;
    padding: 5%;
    border-radius: 7px;
    box-shadow: $box-shadow;

    #mensajederesultado4 {
      color: red;
    }
    #resultado__detalle {
      font-size: small;
    }
  }
}



